/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store
*.o
*.a
*.so
barcode/barcode-0.99/.deps/
barcode/barcode-0.99/Makefile
barcode/barcode-0.99/config.h
barcode/barcode-0.99/config.log
barcode/barcode-0.99/config.status
barcode/barcode-0.99/doc/Makefile
barcode/barcode-0.99/lib/.deps/
barcode/barcode-0.99/lib/Makefile
barcode/barcode-0.99/libtool
barcode/barcode-0.99/po/Makefile
barcode/barcode-0.99/po/Makefile.in
barcode/barcode-0.99/po/POTFILES
barcode/barcode-0.99/stamp-h1
